<p>my-page works!</p>
<ul>
  <li><a routerLink="/">Go Home</a></li>
</ul>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consectetur consequatur distinctio eaque eligendi facere fuga illo incidunt iure minus modi mollitia omnis, praesentium quaerat saepe sed totam vel veniam!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consectetur consequatur distinctio eaque eligendi facere fuga illo incidunt iure minus modi mollitia omnis, praesentium quaerat saepe sed totam vel veniam!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consectetur consequatur distinctio eaque eligendi facere fuga illo incidunt iure minus modi mollitia omnis, praesentium quaerat saepe sed totam vel veniam!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consectetur consequatur distinctio eaque eligendi facere fuga illo incidunt iure minus modi mollitia omnis, praesentium quaerat saepe sed totam vel veniam!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consectetur consequatur distinctio eaque eligendi facere fuga illo incidunt iure minus modi mollitia omnis, praesentium quaerat saepe sed totam vel veniam!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consectetur consequatur distinctio eaque eligendi facere fuga illo incidunt iure minus modi mollitia omnis, praesentium quaerat saepe sed totam vel veniam!</p>
